article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  font-size: 16px; }

/* ----------------------------------------------
 * Generated by Animista on 2018-3-10 14:43:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }

@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }

body {
  font-family: "Fjalla One", sans-serif;
  width: 100%; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left; }

header {
  background-color: #232323;
  height: 100vh;
  color: #FDFDFD;
  text-transform: uppercase;
  margin: 0; }
  header h1 {
    margin: 0;
    font-size: 80px;
    letter-spacing: 2px; }
  header h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: 4px; }
  header h3 {
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 0; }

.navBar {
  padding: 40px 0 20px; }

.navList {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navList a {
    text-decoration: none;
    color: #FDFDFD;
    padding: 0 20px;
    font-weight: lighter;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    position: relative;
    display: block; }

.navList li a:hover {
  -webkit-animation: text-shadow-pop-tr 0.6s both;
  animation: text-shadow-pop-tr 0.6s both; }

.headshotBox {
  width: 35%;
  position: relative;
  top: 120px; }
  .headshotBox img {
    width: 100%;
    z-index: 10; }

.headshotBox {
  position: fixed;
  right: 120px;
  z-index: 2; }

.headerText {
  padding-right: 30%;
  margin-top: 30px; }

.hidden {
  display: none;
  position: relative;
  width: 40%;
  float: right; }
  .hidden img {
    width: 100%; }

.frameOffset {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 0;
  border: 3px solid #FDFDFD; }

.about {
  background: #333333;
  padding: 80px 0 100px;
  z-index: 4; }

.skills, .works, .contactSection, footer {
  z-index: 4;
  position: relative; }

.aboutContainer {
  position: relative; }

.about p {
  width: 50%;
  color: #FDFDFD;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 30px 30px 0 0;
  line-height: 2;
  text-align: left;
  margin: 0; }

.about h2, .skills h2, .works h2 {
  color: #FDFDFD;
  border-bottom: 3px solid #FDFDFD;
  margin: 0;
  margin-bottom: 60px;
  width: 20%;
  padding: 0 10px 5px 0;
  text-transform: uppercase; }

.about h2 {
  margin-bottom: 0; }

.skills {
  background: #232323;
  padding: 80px 0; }
  .skills h2 {
    padding-right: 0; }

.learning {
  color: #764ABC;
  position: absolute;
  right: 0;
  top: -4%; }

.toolBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0; }

.toolBox i, .redux {
  font-size: 100px;
  color: #FDFDFD;
  margin: 20px 20px; }

i.devicon-wordpress-plain {
  color: #764ABC; }

.redux, .firebase {
  width: 100px;
  height: 100px; }

.skillsInner {
  margin-top: 50px;
  position: relative; }

.skills h2 {
  text-align: right;
  float: right;
  margin-right: 10%; }

h4.sneakyWorks {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -20px;
  text-align: center;
  display: none;
  color: #FDFDFD;
  font-family: "Fjalla One", sans-serif;
  border-bottom: 3px solid #FDFDFD;
  font-size: 20px;
  padding: 0 5px 5px;
  text-transform: uppercase;
  width: 25%;
  letter-spacing: 3px; }

.works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.workBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blackBlack, .offBlack {
  width: 50%;
  padding: 80px 3%; }

.offBlack {
  background: #333333; }

.workBlocks .left h2 {
  width: 45%;
  margin-bottom: 0; }

.rightText h2 {
  text-align: right;
  margin-bottom: 0;
  padding-right: 0;
  width: 70%; }

.rightText p {
  padding-right: 0;
  padding-top: 30px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  color: #FDFDFD; }

.leftText p {
  width: 70%;
  padding: 30px 30px 30px 0px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  color: #FDFDFD; }

.worksTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.blackBlack {
  background: #232323; }

.screenshotContainer {
  width: 70%;
  margin: 20px auto;
  position: relative; }
  .screenshotContainer img {
    width: 100%;
    z-index: 10;
    position: relative; }

.workBlocks a {
  background: #FDFDFD;
  padding: 10px;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  max-width: 80px;
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: 1px solid transparent; }

.workBlocks a:hover {
  background: #232323;
  color: #FDFDFD;
  border: 1px solid #FDFDFD; }

.worksTextBox:nth-of-type(1n) {
  margin-left: 17%; }

.rightText {
  margin-right: 17%;
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.frameOffsetRight {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6%;
  left: 5%;
  z-index: 0;
  border: 3px solid #FDFDFD; }

.linkBox {
  margin-top: 15px; }

.contactSection {
  background: #232323;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contactSection h2 {
    margin-top: 0;
    margin: 0 auto;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    color: #FDFDFD;
    border-bottom: 3px solid #FDFDFD;
    margin-bottom: 40px;
    display: inline-block; }

.contactInner {
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px 60px;
  color: #FDFDFD; }

.socialBox {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .socialBox a {
    color: #FDFDFD; }
  .socialBox p {
    margin-bottom: 0; }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .media a {
    margin: 10px 0; }

.fa-twitter, .fa-github, .fa-linkedin-in, .fa-map-marker-alt {
  font-size: 30px;
  margin-right: 10px; }

.formBox {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .formBox form {
    width: 100%; }

.nameBox, .emailBox, .textAreaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .nameBox input, .nameBox textarea, .emailBox input, .emailBox textarea, .textAreaBox input, .textAreaBox textarea {
    background: none;
    border: none;
    border: 3px solid #FDFDFD;
    margin: 10px 0;
    color: #FDFDFD;
    padding: 10px; }

.nameBox input, .emailBox input {
  height: 50px; }

.formBox label {
  padding-top: 10px; }

.sendMe {
  background: none;
  color: #FDFDFD;
  border: 3px solid #FDFDFD;
  padding: 10px 15px;
  margin-top: 10px; }

footer {
  background: #232323;
  padding: 40px;
  color: #FDFDFD;
  font-family: "Open Sans", sans-serif; }

footer p {
  margin: 0;
  font-size: 12px; }

@media (max-width: 1250px) {
  .headerText {
    width: 75%; } }

@media (max-width: 970px) {
  .worksTextBox p {
    width: 90%;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px; }
  .screenshotContainer {
    margin-top: 40px; }
  .blackBlack, .offBlack {
    padding: 40px 3%; } }

@media (max-width: 870px) {
  .headshotBox {
    right: 80px; }
  .devicon-babel-plain {
    display: none; } }

@media (max-width: 800px) {
  .headshotBox {
    display: none; }
  .navList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .hidden {
    display: block;
    margin-left: 30px;
    margin-bottom: 30px; }
  .about p {
    width: 100%; }
  .aboutContainer {
    position: relative; }
  .headerText {
    width: 100%;
    text-align: center;
    padding-right: 0; }
    .headerText h3 {
      margin-top: 20px; }
  .learning {
    top: 0; } }

@media (max-width: 700px) {
  h4.sneakyWorks {
    display: inline-block; }
  .workBlocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .offBlack, .blackBlack {
    width: 100%; }
  .workMiddle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contactInner {
    width: 100%; }
  footer div {
    width: 100%; } }

@media (max-width: 575px) {
  .headerText h1 {
    font-size: 66px; }
  .navList a {
    padding: 0 10px; }
  .contactSection {
    padding-bottom: 20px; }
  .contactInner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0; }
  .socialBox {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0; }
  .media, .emailList, .mapBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 40px; }
  .emailList h3 {
    margin: 0;
    display: none; }
  .mapBox p {
    margin: 0; }
  .fa-map-marker-alt {
    display: none; }
  footer {
    padding-top: 0; }
  .contactInner {
    width: 100%; }
  .formBox {
    width: 80%; }
  .left h2 {
    width: 65%; } }

@media (max-width: 400px) {
  .toolBox i {
    font-size: 80px; }
  .redux {
    width: 80px;
    height: 80px; } }
